/**
 * [POLYTECH] Web Project - Project Designer
 * 2017 - 2018
 * Detcheberry Valentin - Vuillemin Anthony
 */

*
{
    padding: 0px;
    margin: 0px;

    background-color: #CCCCCC;
}

html, body
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: table;
    font-family: Open Sans;
}

footer
{
   display: table-row;
}


h1
{
  margin-bottom: 15px;
  color:#333333;
  font-family: Quantify;
  font-size: 28px;
}


/** NAV **/

nav, nav *
{
    background-color: #333333;
}

nav
{
    padding: 1.2em;
    border-bottom: 0.2em solid orange;
}

ul li, a
{
    display: inline-block;
    width: 6em;
    list-style-type: none;

    text-decoration: none;

    padding-right: 1.2em;

    color: white;
    text-align: center;
}

ul li:hover, a:hover
{
    color: orange;
}

/** FOOTER **/

footer
{
    height: 2em;
    padding: 0.8em;
}

footer, footer *
{
    background-color: #333333;

    color: white;
    text-align: right;

    padding: 0.8em;
}

iframe
{
    display:block;
    margin:auto;
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 2em;
}



/**** CLASS & ID ****/
.mainComponet
{
  margin: 1em;

}



/**** FONTS ***/
@font-face {
    font-family: Quantify;
    src: url('./fonts/Quantify.ttf');
}
