/**
 * [POLYTECH] Web Project - Project Designer
 * 2017 - 2018
 * Detcheberry Valentin - Vuillemin Anthony
 */

*
{
    padding: 0px;
    margin: 0px;
}

html, body
{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Open Sans;
    background-color: #CCCCCC;
}


h1
{
  margin-bottom: 15px;
  color:#333333;
  font-family: Quantify;
  font-size: 28px;
}


/** NAV **/

nav{background-image: linear-gradient(to right, #333333, #6B6A6A);}

nav
{
    height: 50px;
    border-bottom: 0.2em solid orange;
}

section
{
  position:relative;
}

/** FOOTER **/

#footer
{
    height: 40px;
    padding-top:20px;
    text-align:center;
    border-top: 0.2em solid orange;
    background-image: linear-gradient(to right, #333333, #6B6A6A);
    color:white;
    position: absolute;
    /*
    bottom: 0; left: 0; right: 0;
    */
    font-family: Open Sans;
}

iframe
{
    display:block;
    margin:auto;
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 2em;
}



/**** CLASS & ID ****/
.mainComponet
{
  margin: 1em;
}

#menu
{
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #333333, #6B6A6A);
  font-family: Quantify;
  font-size: 18px;
}

#menu ul li
{
  height: auto;
  display: inline-block;
  width: 6em;
  list-style-type: none;

  color: white;
  text-align: center;
  transition:0.7s;
}

#menu ul li a
{
    text-decoration: none;
    color: white;
    transition:0.7s;
}

#menu ul li
{
  padding-top:15px;
  padding-bottom: 17px;
}




#menu ul li:hover,#menu ul li a:hover
{
  background-color:orange;
  color:#333333;
  transition:0.7s;
}

/**** FONTS ***/
@font-face {
    font-family: Quantify;
    src: url('./fonts/Quantify.ttf');
}
