/******************************************************************************/
/*************** [POLYTECH] Web Project - Project Designer  *******************/
/************************** Année 2017-2018 ***********************************/
/******* Detcheberry Valentin - Vuillemin Anthony - Corentin TROADEC **********/
/******************************************************************************/

/**
* @file ~ index.css
* @descritpion ~ Style spécifique à la page index.php
*/


/**** BALISE DE BASES ****/
html,body
{
  background-image: url("pictures/backindex.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1
{
  color:white;
}

h2
{
  font-size: 20px;
  font-family:Quantify;
  margin:15px 0 15px 0;
}


/**** BODY PRINCIPAL ****/
.mainComponet
{
  background-color: #6B6A6A;
  padding: 10px;
  border-radius: 10px;
}


/**** REDEFINITION DU FOOTER ****/
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

#foot_index
{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

#foot_index *
{
  margin: auto;
}

/**** OTHER CLASS & ID ****/
#sign_in
{
  width: 15%;
  height: 15%;
  cursor: pointer;
}
