
.projet
{
  font-family: Open Sans;
  font-size: 15px;
  padding: 5px;
  margin:10px 0px 10px 0px;
}

.diagram
{
   display: flex;
   padding: 10px;
}

.diagName
{
  width: 150px;
  height: 150px;
  background-color: orange;
  color:white;
  border-radius: 5px;
  margin-right: 25px;
  margin-left: 25px;
  display: flex;
  transition: 0.7s
}

.diagName:hover
{
  background-color:#CA5000;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.7s;
}

.diagName span
{
  margin: auto;
}

.diagDesc
{
  font-style: italic;
}

.diagkeys span,.diagDesc span
{
  font-weight: bold;
}

.contributors
{
  font-size: 14px;
}

.contributors span
{
  text-decoration: underline;
}

.diagInfo
{
  margin: auto;
  margin-left: 0px;
  background-color: #6B6A6A;
  min-width:50vh;
  min-height: 130px;
  border-radius: 5px;
  padding: 10px;
}

.expand_arrow
{
  width: 30px;
  height: 30px;
}

#myprojects
{
  background-color: #EFEFEF;
  border-radius: 8px;
  width: 400px;
}

#mydiagrams
{
  background-color:#333333;
  border-radius: 8px;
  min-width: 800px;
}

#mydiagrams hr
{
  width: 90%;
  margin: auto;
  text-align:center; /* IE, Opera... */
}

#mydiagrams h2
{
  color:orange;
  text-align: center;
}

#chatBox
{
  background-color: #EFEFEF;
  border-radius: 8px;
  min-width: 400px;
  min-height: 300px;
}

#enteteProject,#enteteDiagram
{
  display: flex;
  justify-content: space-around;
}

#enteteProject *
{
  margin: auto;
}

.namePBlock,.namePBlock *
{
  font-size: 15px;
  font-weight: bold;
  color:#333333;
  text-decoration: none;
  cursor:pointer;
}

.namePBlock:hover
{
  text-decoration: underline;
}

.datePBlock span
{
  font-weight: bold;
}

.datePBlock,.datePBlock *,.adminBlock *
{
  font-style: italic;
  font-size: 14px;
}

.adminBlock span
{
  text-decoration: underline;
}

.descPBlock
{
  font-style: italic;
}

#mainDivProject
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#mainDivProject div
{
  margin:0px 10px 10px 10px;
}


#addProjectButton,#addDiagramButton
{
  background-color: #68B159;
  height: 40px;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  color:white;
  font-size: 30px;
  font-weight: bold;
}

#mainDivProject #addDiagramButton
{
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

#addProjectButton span,#addDiagramButton span
{
  margin:auto;
}


#addProjectButton:hover,#addDiagramButton:hover
{
  background-color: #216A12;
  color:white;
  transition: 0.7s;
}
