body
{
    overflow: hidden;
}
<<<<<<< HEAD
=======

#container
{
    display:block;
    margin:auto;
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 2em;
    width: 80%;
    height: 60%;

    overflow: hidden;
}

#container *
{
	background-color: #F0F0F0;
}

#tag_edit
{
	display: inline-block;
	vertical-align: top;
	background-color: orange;
}
>>>>>>> 6d91bf38a803521bd0ca33665123b2a1c0f7d384
