#container,  #chatbox
{
    vertical-align: top;
    margin:auto;
    border: 1px solid black;
    border-radius: 0.4em;
    overflow: hidden;
    background-color: #F0F0F0;
}

#tag_edit
{
    display: inline-block;
    padding:0.2em;
}

#container
{
    display:block;
    width: 60%;
}

#chatbox
{
  width: 100%;
  margin-top: 20px;
  min-height: 500px;
}

#container *
{
    background-color: #F0F0F0;
}

#diagHeader
{
  margin-top: 15px;
  margin-left: 20px;
}

#diagHeader a
{
  text-decoration: none;
  color:#333333;
}

#projetNameHeader:hover
{
  text-decoration: underline;
}

#diagNameHeader
{
  color:#6B6A6A;
  font-size: 20px;
  font-style: italic;
}

#toolBox
{
    display: flex;
    border-radius: 5px;
    border:2px solid orange;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    height: 78%;
    background-color: #333333;
}

#toolBox h3
{
  text-align: center;
  color:white;
  margin-bottom: 10px;
  font-family: Quantify;
  font-variant: small-caps;
}

.flex_element
{
    margin: auto;
}

#flexbox
{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 20px;
}

/* ME */
#tag_text
{
      display: inline-block;
      width: 200px;
      font-weight: 400;
      background: #efefef;
      border: 0;
      border-radius: 3px;
      outline: 0;
      text-indent: 10px;
      padding:10px 0px 10px 0px;
      margin-bottom: 10px;
}

#tag_color
{
  width: 50px;
  height: 25px;
}

#tag_hexa
{
  display: inline-block;
  width: 140px;
  font-weight: 400;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 10px;
  padding:10px 0px 10px 0px;
}

.toolButton
{
  width: 110px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  cursor:pointer;
  transition:0.7s;
  margin: auto;
  font-family: Quantify;
  font-weight: bold;
  color:#333333;
  font-variant: small-caps;
  padding: 2px;
}

.toolButton span
{
  margin: auto;
}

#delete_tag, #update_tag
{
  margin-top: 10px;
}

#delete_tag,#del_branch
{
  background-color: orange;
    transition: 0.7s;
}

#new_tag, #new_branch, #update_tag
{
  background-color: #68B159;
    transition: 0.7s;
}

#new_tag:hover, #new_branch:hover, #update_tag:hover
{
  background-color: #216A12;
  color:white;
  transition: 0.7s;
}

#delete_tag:hover,#del_branch:hover
{
  background-color:#CA5000;
  transition:0.7s;
}

#delete_tag span,#newTag span, #update_tag span
{
  margin: auto;
}

#editBox
{
  background-color:#6B6A6A;
  border-radius: 4px;
  padding: 10px;
}

#leftBlock
{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

#rightBlock
{
  display: flex;
  margin-left: 5px;
}

#rightBlock
{
  margin: auto;
  width:95%;
  height: 600px;
  margin:0px 10px 0px 10px;
  justify-content: flex-end;
  flex-direction: column;
}

#container
{
    width: 1000px;
    height: 600px;
}
